.benefits .container {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-right: auto;
    margin-left: auto;
    
    @media screen and (min-width: $desktop){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

// .benefits-content {
//   display: flex;
//   justify-content: space-between;
// }

.benefits .item {
//   max-width: 270px;
    &:not(:last-child){
        margin-bottom: 30px;
    }
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: $title-color;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: $text-color;
}

/* Icons in benefits */
.icon-background {
// width: 270px;
height: 120px;
background-color: #f5f4fa;
border-radius: 4px;
margin-bottom: 30px;
display: flex;
justify-content: center;
align-items: center;

@media screen and (min-width: $mobile){
    width: 450px;
}
}
