.clients .container {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: $title-color;
  margin-bottom: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: 479px) {
    display: flex;
    flex-direction: column;
  }

  .item {
    @media screen and (max-width: 479px) {
      margin-right: auto;
      margin-left: auto;
    }
    &:not(last-child) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $mobile) {
      &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 30px;
      }

      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }
  }
}

.clients-list a {
  width: 210px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms $cubic-function, border-color 250ms $cubic-function;

  &:hover,
  &:focus {
    fill: $blue-color;
    border-color: $blue-color;
  }
}
