.contacts {
  display: flex;
  margin-left: auto;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-direction: column;
    justify-content: center;
  }
}

.header .contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-mobile .contacts {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.contacts-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $text-color;
  fill: currentColor;
  transition: color 250ms $cubic-function;

  @media screen and (min-width: $desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.contacts .item:not(:last-child) {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.icon-letter,
.icon-smartphone {
  margin-right: 10px;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
