.header {
  height: 60px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}

.header .container {
  //   box-sizing: border-box;
  display: flex;
}
