.hero {
  background-color: #c4c4c4;
  background-image: $gradient,
    url("../images/studio/mobile/hero-background-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-resolution: 2dppx) {
    background-image: $gradient,
      url("../images/studio/mobile/hero-background-mobile-@2x.jpg");
  }

  @media screen and (min-resolution: 3dppx) {
    background-image: $gradient,
      url("../images/studio/mobile/hero-background-mobile-@3x.jpg");
  }

  @media screen and (min-width: 481px) {
    background-image: $gradient,
      url("../images/studio/tablet/hero-background-tablet.jpg");

    @media screen and (min-resolution: 2dppx) {
      background-image: $gradient,
        url("../images/studio/tablet/hero-background-tablet-@2x.jpg");
    }

    @media screen and (min-resolution: 3dppx) {
      background-image: $gradient,
        url("../images/studio/tablet/hero-background-tablet-@3x.jpg");
    }
  }

  @media screen and (min-width: 769px) {
    background-image: $gradient,
      url("../images/studio/desktop/hero-background-desktop.jpg");

    @media screen and (min-resolution: 2dppx) {
      background-image: $gradient,
        url("../images/studio/desktop/hero-background-desktop-@2x.jpg");
    }

    @media screen and (min-resolution: 3dppx) {
      background-image: $gradient,
        url("../images/studio/desktop/hero-background-desktop-@3x.jpg");
    }
  }
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  height: 400px;

  @media screen and (min-width: $desktop) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  max-width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: $white-color;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    max-width: 700px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.order-button {
  padding: 10px 32px;
  background-color: $blue-color;
  color: $white-color;
  text-decoration: none;
  border-radius: 4px;
  width: 200px;
  border: transparent;

  font-weight: 700;
  font-size: 15px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;
  transition: color 250ms $cubic-function,
    background-color 250ms $cubic-function;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}
