// .hero .container {
//   max-width: 696px;
// }

.hero {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  text-align: center;
  // @media screen and (max-width: $mobile) {
  // }

  //   width: 100%;
  //   margin-right: auto;
  //   margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (max-width: 1199px) {
    height: 400px;
  }
}

.hero .container {
  margin-right: auto;
  margin-left: auto;
  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.hero-title {
  margin-right: auto;
  margin-left: auto;
  max-width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: $white-color;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order-button {
  // display: inline-block;
  padding: 10px 32px;
  background-color: $blue-color;
  color: $white-color;
  text-decoration: none;
  border-radius: 4px;
  width: 200px;
  // height: 50px;
  border: transparent;

  font-weight: 700;
  font-size: 15px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $white-color;
  transition: color 250ms $cubic-function,
    background-color 250ms $cubic-function;

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: $button-hover-color;
  }
}
