.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: $blue-color;

  @media screen and (min-width: $desktop) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.header .logo {
  display: block;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 94px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer .logo {
  margin-bottom: 20px;
  display: block;
}

.logo-studio-header {
  color: #000000;
}

.logo-studio-footer {
  color: $white-color;
}
