.nav {
  display: flex;
  align-items: center;
}

.menu-button-mobile {
  @media screen and (min-width: $tablet) {
    display: none;
  }
  margin: auto 0 auto auto;
  padding: 0;
  border: 0;
  background-color: transparent;

  width: 40px;
  height: 40px;

  &:hover,
  &:focus {
    fill: $blue-color;
  }
}

.menu-mobile {
  width: 100%;
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu-mobile.is-open {
  position: absolute;
  left: 0;
  top: 60px;

  display: flex;
  flex-direction: column;

  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
}

.menu-button-mobile .icon-close {
  display: none;
}

.menu-button-mobile.is-open .icon-close {
  display: block;
}

.menu-button-mobile.is-open .icon-burger {
  display: none;
}

.links {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding-bottom: 60px;
  }
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  letter-spacing: 0.02em;
  color: $title-color;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms $cubic-function;

  &:hover,
  &:focus {
    color: $blue-color;
  }
}

.links .item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}

.active-page {
  color: $blue-color;
  position: relative;

  @media screen and (max-width: 767px) {
    padding-bottom: 12px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}
