$title-color: #212121;
$white-color: #ffffff;
$blue-color: #2196f3;
$text-color: #757575;

// buttons hover color
$button-hover-color: #167ed3;

/* Cubic function*/
$cubic-function: cubic-bezier(0.4, 0, 0.2, 1);
